*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
projeto_netbeans/nbproject/private/private.properties
*.properties
projeto_netbeans/nbproject/private/private.properties
/projeto_netbeans/dist/
/projeto_netbeans/build/*
build.xml
/nbproject
/build/
/dist/