/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/04/2016, 14:16:10
    Author     : Daniele Harumi Ito
*/

body {
    width: 100%;
    min-width: 1200px;
    margin: 0;
    padding: 0;
    background-color: #e8e8e8;
}

input, select, selector {
    width: 100%;
    margin-top: 10px;
}

button {
    width: 150px;
    margin: 15px 15px 15px 0;
}

label {
    float: left;
    margin-top: 5px;
}

.page {
    width: 85%;
    margin: 0px auto 0 auto;
    padding: 20px 0 20px 0;
}

.topo {
    height: 74px;
    background-color: white;
}

.topo2 {
    height: 70px;
    background-image: url(#{resource['images/header_bg.jpg']});
    background-repeat: no-repeat;
    box-shadow: 0px 2px 3px #cccccc;
    background-color: white;
}

.corpo {
    width: 100%; 
    background-color: white;
}

.content {
    padding-top: 20px;
}

.row, p {
    width: 100%;
    float: left;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
}

.text_left {
    text-align: left;
}

.col-md-1 {
    width: 10%;
}

.col-md-2 {
    width: 20%;
}

.col-md-3 {
    width: 30%;
}

.col-md-4 {
    width: 40%;
}

.col-md-5 {
    width: 50%;
}

.col-md-6 {
    width: 60%;
}

.col-md-7 {
    width: 70%;
}

.col-md-8 {
    width: 80%;
}

.col-md-9 {
    width: 90%;
}

.col-md-10 {
    width: 100%;
}

hr {
    width: 100%;
    margin: 0;
    padding: 0;
}

table th,
table td.th {
	width: 20%;
	font-weight: bold;
}

.footer {
    width: 100%;
}

.footer hr {
    background-color: #666666;
}

.info_usuario_logado {
    float: left;
    text-align: right;
    font-size: 14px;
    font-style: italic;
    width: 100%;
}

.rodape {
    text-align: center;
}

.div_center {
    margin-left: auto;
    margin-right: auto;
}

.tabela_dados_cadastrais {
    width: 50%;
    float: left;
    height: auto;
}





/* estilos generico para as tabelas =========================================*/
table {
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	border-color: #a8a8a8;

    -moz-box-shadow: 3px 3px 4px #bbb;
    -webkit-box-shadow: 3px 3px 4px #bbb;
    box-shadow: 3px 3px 4px #bbb;
}

table th,
table thCabOAE,
table td,
table caption {
	font-size: 88%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0.2em 0.3em;
	border-style: solid;
	border-width: 1px;
	text-align: left;
}

table td {
	font-weight: normal;
}
table th,
table td.th {
	width: 20%;
	font-weight: bold;
}
/*
table td.thLarger {
	width: 30%;
	font-weight: bold;
}

table thead th {
	text-align: center;
	width: auto;
}

table caption,
table tfoot td,
table .tbl-buttons,
table .tbl-caption,
table .tbl-footer {
	border-style: solid;
	border-width: 1px;
	padding: 0.3em;
	font-weight: bold;
	text-align: center;
}
table caption {
	border-radius: 3px 3px 0 0;
}
table tfoot td {
	line-height: 1.5em;
}


table .left,
table .left .ui-dt-c,
table .text {
	text-align: left;
}

table .right,
table .right .ui-dt-c,
table .value {
	text-align: right;
}

table .center,
table .center .ui-dt-c,
table .date {
	text-align: center;
}*/

/* estilos para os formularios --------------------------

textarea,
input[type=text],
.ui-inputfield,
.ui-inputtext {
	font-size: 95%;
}
textarea,
input,
button,
select {
	border-style: solid;
	border-width: 1px;
}
select,
.ui-selectonemenu-label {
	font-size: 0.8em !important;
	padding: 3px 2px;
}

button,
input,
label {
	vertical-align: middle;
}

button,
input.button {
	border-style: solid;
	border-width: 1px;
	padding: 0.2em 0.3em;
	font-weight: bold;
	cursor: pointer;
}

.table-detail-button {
	width: 1.2em;
	height: 1.2em;
}*/

/*===========================================================================
 CORES DEFAULT DO SISTEMA - SOBRESCRITAS NOS M�DULOS QUANDO NECESS�RIO ====
===========================================================================*/
 /*cabecalhos*/ 
h2 {
	color: #05b;
	border-color: #05b;
}

/* regua 
hr {
    border-color: 2px solid #05b;
}*/
/*
 links 
a:visited {
	color: #00f;
}
a:hover,
a:active {
	color: #00f;
}

*/