/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/04/2016, 14:16:10
    Author     : Daniele Harumi Ito
*/


body {
   font: 0.9em Arial, sans-serif;
	margin: 0;
	padding: 0;
	/* 99.9999% para evitar que o firefox coloque a barra de rolagem horizontal sem necessidade */
	width: 99.9999%;
	overflow-x: auto;
	position: relative;
	background: #e8e8e8;
        min-width: 1024px;
}

input, select, selector {
    width: 100%;
    margin-top: 10px;
}

button {
    width: 150px;
    margin: 15px 15px 15px 0;
}

label {
    float: left;
    margin-top: 5px;
}

.page {
    width: 85%;
    margin: 0 auto 0 auto;
    padding: 20px 0 20px 0;
}

.topo {
    width: 100%;
    height: 70px;
    background-image: url(#{resource['images/header_bg.jpg']});
    background-repeat: no-repeat;
    box-shadow: 0px 2px 3px #cccccc;
    background-color: white;
    float: left;
}

.login {
    height: 400px;
    width: 950px;
    min-width: 950px;
    background-color: white;
    margin: 100px auto auto auto;
}
.login1 {
    width: 450px;
    float: left;
    text-align: right;
}

.login2 {
    width: 500px;
    float: left;
    text-align: left;
}

.corpo {
    width: 100%; 
    background-color: white;
}

.content {
    margin-top: 10px;
}

.row, p {
    width: 100%;
    float: left;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
}

.text_left {
    text-align: left;
}

.col-md-1 {
    width: 10%;
}

.col-md-2 {
    width: 20%;
}

.col-md-3 {
    width: 30%;
}

.col-md-4 {
    width: 40%;
}

.col-md-5 {
    width: 50%;
}

.col-md-6 {
    width: 60%;
}

.col-md-7 {
    width: 70%;
}

.col-md-8 {
    width: 80%;
}

.col-md-9 {
    width: 90%;
}

.col-md-10 {
    width: 100%;
}

hr {
    width: 100%;
    margin: 0;
    padding: 0;
}

table th,
table td.th {
	width: 20%;
	font-weight: bold;
}

.footer {
    width: 100%;
}

.footer hr {
    background-color: #666666;
}

.info_usuario_logado {
    float: left;
    text-align: right;
    font-size: 14px;
    font-style: italic;
    width: 100%;
}

.rodape {
    text-align: center;
    width: 100%;
    height: 100%;
}

.div_center {
    margin-left: auto;
    margin-right: auto;
}

.tabela_dados_cadastrais {
    /*width: 50%;*/
    float: left;
    height: auto;
}





/* estilos generico para as tabelas =========================================*/
table {
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	border-color: #a8a8a8;

    -moz-box-shadow: 3px 3px 4px #bbb;
    -webkit-box-shadow: 3px 3px 4px #bbb;
    box-shadow: 3px 3px 4px #bbb;
}

table th,
table thCabOAE,
table td,
table caption {
	font-size: 88%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0.2em 0.3em;
	border-style: solid;
	border-width: 1px;
	text-align: left;
}

table td {
	font-weight: normal;
}
table th,
table td.th {
	width: 20%;
	font-weight: bold;
}



table td.thLarger {
	width: 30%;
	font-weight: bold;
}

.subtituloTabela {
    background-color: white;
}

table thead th {
	text-align: center;
	width: auto;
}

table caption,
table tfoot td,
table .tbl-buttons,
table .tbl-caption,
table .tbl-footer {
	border-style: solid;
	border-width: 1px;
	padding: 0.3em;
	font-weight: bold;
	text-align: center;
}
table caption {
	border-radius: 3px 3px 0 0;
}
table tfoot td {
	line-height: 1.5em;
}


table .left,
table .left .ui-dt-c,
table .text {
	text-align: left;
}

table .right,
table .right .ui-dt-c,
table .value {
	text-align: right;
}

table .center,
table .center .ui-dt-c,
table .date {
	text-align: center;
}



/* estilos para os formularios --------------------------

textarea,
input[type=text],
.ui-inputfield,
.ui-inputtext {
	font-size: 95%;
}
textarea,
input,
button,
select {
	border-style: solid;
	border-width: 1px;
}
select,
.ui-selectonemenu-label {
	font-size: 0.8em !important;
	padding: 3px 2px;
}

button,
input,
label {
	vertical-align: middle;
}

button,
input.button {
	border-style: solid;
	border-width: 1px;
	padding: 0.2em 0.3em;
	font-weight: bold;
	cursor: pointer;
}

.table-detail-button {
	width: 1.2em;
	height: 1.2em;
}*/


h2 {
	color: #05b;
	border-color: #05b;
}

/* r�gua */
hr {
	border-color: 2px solid #05b;
}

/* links */
a:visited {
	color: #00f;
}
a:hover,
a:active {
	color: #00f;
}


table td {
	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top,  #e5e5e5 0%, #f5f6f8 30%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(30%,#f5f6f8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e5e5 0%,#f5f6f8 30%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e5e5 0%,#f5f6f8 30%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e5e5 0%,#f5f6f8 30%); /* IE10+ */
	background: linear-gradient(top,  #e5e5e5 0%,#f5f6f8 30%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f5f6f8',GradientType=0 ); /* IE6-9 */
}
table td.th,
table td.thLarger,
table td.thCabOAE,
table td.ui-datatable-subtable-header,
table caption {
	color: #4F4F4F;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 2%, #c4c4c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(2%,#f2f2f2), color-stop(100%,#c4c4c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 2%,#c4c4c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 2%,#c4c4c4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 2%,#c4c4c4 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#f2f2f2 2%,#c4c4c4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.698);
}
table caption {
	border-color: #a8a8a8;
}

/* cor dos links e menu ---------------------------------*/
#menu ul {
	border-top-color: #27d;
	border-bottom-color: #039;
}
#menu,
#menu ul,
#menu ul li,
#menu ul li a {
	color: #fff;
	background-color: #05b;
	background-image: -moz-linear-gradient(top, #16C 0%, #16C 50%, #05B 51%, #05B 100%); /* firefox */
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0%,#16C), color-stop(50%,#16C), color-stop(51%,#05B), color-stop(100%,#05B)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16C', endColorstr='#05B',GradientType=0 ); /* ie */
}

#menu ul li a {
	border-left-color: #27d;
	border-right-color: #04a;
}
/* cor do hover nos links dos itens do menu */
#menu ul li a:hover {
	background-color: #37b;
}

/* footer -----------------------------------------------*/
#footer {
	color: #666;
}
#footer a {
	color: #359;
}


/* tabelas ----------------------------------------------*/
/* tabela auxiliar (interna ou secund�ria) */
/*table.auxiliar tbody td {
	background-color: #fff;
	background-image: none;
}

table tr.vermelho td a {
	color: #f00;
}

table tr.amarelo td a {
	color: #f90;
}*/

/* forms ------------------------------------------------*/

button,
input[type=button],
input.button {
	color: #4f4f4f;
	border-color: #a8a8a8;
	background: #c4c4c4; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 4%, #c4c4c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(4%,#f2f2f2), color-stop(100%,#c4c4c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 4%,#c4c4c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 4%,#c4c4c4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 4%,#c4c4c4 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#f2f2f2 4%,#c4c4c4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

button:hover,
input[type=button]:hover,
input.button:hover,
button:focus,
input[type=button]:focus,
input.button:focus {
	color: #2f556a;
	border-color: #7096ab;
	background: rgb(215,231,239); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(215,231,239,1) 0%, rgba(133,178,203,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(215,231,239,1)), color-stop(100%,rgba(133,178,203,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(215,231,239,1) 0%,rgba(133,178,203,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(215,231,239,1) 0%,rgba(133,178,203,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(215,231,239,1) 0%,rgba(133,178,203,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(215,231,239,1) 0%,rgba(133,178,203,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7e7ef', endColorstr='#85b2cb',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 0 8px #85b2cb;
}

/* .form-info e #status-box */
ul.form-info,
#status-box {
	color: #2f556a;
	border-color: #9ab;
	font-weight: bold;
    background: rgb(244,252,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(244,252,255,1) 0%, rgba(215,222,226,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,252,255,1)), color-stop(100%,rgba(215,222,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(244,252,255,1) 0%,rgba(215,222,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(244,252,255,1) 0%,rgba(215,222,226,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(244,252,255,1) 0%,rgba(215,222,226,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(244,252,255,1) 0%,rgba(215,222,226,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4fcff', endColorstr='#d7dee2',GradientType=0 ); /* IE6-9 */
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.698);

}

/* Elementos de 2� n�vel --------------------------------*/

#quicknav_footer {
	border-color: #05b;
}

#container {
	border-color: #d8d8d8;
}

/* Elementos de p�ginas espec�ficas ---------------------*/
.captcha {
	border-color: #69c;
}
/*#submenu {
	background-color: #F7F9FD;
	background-image: -moz-linear-gradient(top, #F7F9FD 0%, #E1EBF6 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F9FD), color-stop(100%,#E1EBF6));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F9FD', endColorstr='#E1EBF6',GradientType=0 );
}
#submenu ul {
	border-color: #05b;
}*/


.chartStyleClass table.jqplot-table-legend {
/*    top:50px !important;
    right:50px !important;*/
    width: 200px;
}

.ui-widget .ui-icon-anterior {
    background-image: url("#{resource['images/anterior.png']}") !important;
}

.ui-icon-proximo {
    background-image: url("#{resource['images/proximo.png']}") !important;
}

.ui-widget .ui-icon-editar {
    background-image: url("#{resource['images/lapis.png']}") !important;
}

.ui-widget .ui-icon-visualizar {
    background-image: url("#{resource['images/lupa.png']}") !important;
}

.ui-widget .ui-icon-excluir {
    background-image: url("#{resource['images/lixeira.png']}") !important;
}

.ui-widget .ui-icon-baixar {
    background-image: url("#{resource['images/baixar.png']}") !important;
}

.bordas-datagrid {
    border-radius: 80px;
}